@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

body, html {
     margin: 0;
     padding: 0;
     height: 100%;
     width: 100%;
     font-family: sans-serif;
     background: #8BBCF6;
}

.nav-bar {
     float: left;
     width: 100px;
     height: 100%;
     background: white;
     overflow: hidden;
     /*box-shadow: 0 10px 30px rgba(0,0,0,.3);*/
}

.nav-bar ul{
     margin: 0;
     padding: 0;
     text-align: center;
     
}
.nav-bar ul img{
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 5px;
     margin-bottom: 20px;
     width: 60%;
}
.nav-bar ul li{
     list-style: none;     
     color: #002350;
     display: block;

}
.nav-bar ul li a{
     text-decoration: none;    
     text-align: center; 
     display: block;
     transition: 0.3s;
}
.nav-bar ul li a .icon{
     width: 100px;
     height: 100px;
     text-align: center;
     overflow: hidden;    
     font-size: 70px;
     color: #002350;
     transition: 0.3s;
}

.nav-bar ul li a .name{
     font-size: 15px;
     text-align: center;
     color: #002350;
     transition: 0.3s;
     font-weight: bold;
     transform: translateY(-15px);

}
.nav-bar ul li a:hover {
     background: #8BBCF6;
}
.nav-bar ul li a:hover .icon{
     color: white;
}
.nav-bar ul li a:hover .name{
     color: white;
}
.app-content {
     background: #8BBCF6;
     float: right;
     height: 100%;
     width: 94.74%;
     
}

